body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(207, 205, 197);
    color: rgb(48, 35, 20);
    padding: 1rem;
}

ul, ol {
    padding: 0em 1em;
}

hr {
    margin-top: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

.flex-container {
    display: flex;
}

section.flex-container {
    flex-direction: column;
    justify-content: center;
}

.image-large {
    width: 100%;
    margin-bottom: 1rem;
}

.image-side {
    width: 70%;
}

footer.flex-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

footer h3 {
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
}

footer p {
    margin: 0.2rem;
}

@media only screen and (min-width: 600px) {
    section.flex-container {
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .image-side {
        padding-left: 3rem;
        min-width: 30%;
        max-width: 60%;
    }
}